* {
	/*CSS-Reset allows us to 0 the margins and paddings of all elements to remove the default set by the browser .*/
	margin: 0;
	padding: 0;
	/*by default, our css adds the padding and border on top of the height and width
		box-sizing:  content_box;
		the issue is the computation of hxw is not accurate
		5px border-left + 3px pad-left + 100px width + 20px pad-right + 10px border-right
	*/
	box-sizing:  border-box;
	/*
		box-sizing border-box allows us to control the measurements of all elements.
	*/
}

#box1 {
	background-color: red;
	/*margin:  10px;*/
	margin-top: 10px;
	margin-right: 20px;
	margin-left: 30px;
	margin-bottom: 40px;
	/*border:  2px solid black;*/
	border-top: 2px solid black;
	border-left: 5px solid black;
	border-right: 10px solid black;
	border-bottom: 2px solid black;
	/*padding:  10px;*/
	padding-top: 5px;
	padding-left: 3px;
	padding-right: 20px;
	padding-bottom: 30px;
	/*height: 100px;
	width:  100px;*/
	/*
		Block elements break the line. If not set, they occupy the full set width of parent 
	*/
}
/*margin - space generated outside the elemennt*/
/*border - line between margin and padding*/
/* padding -space between border and the element */
#box2 {
	background-color: orange;
	border:  2px solid black;
	height:  100px;
	width:  100px;
}
#box3 {
	background-color: green;
	border:  2px solid black;
	width:  100px;

}
#span1 {
	background-color: purple;
	display:  inline-block;
	/* border works correctly in inline element */
	border:  2px solid black;
	/*margin:  20px;*/ /*right left only displayed*/
	padding-left: 30ppx;
	padding-right: 30px;
	padding:  30px;
	padding: 10px;
	height:  100px;
	width:  100px;*/
	/*
		Inline elements does not break the line and only occupy space the overall size of its content
	*/
}
#span2 {
	display: inline-block;
	vertical-align: top;
	height:  100px;
	width:  100px;
	background-color: yellow;
	border:  2px solid black ;
}
#box4 {
	display: inline-block;
	vertical-align: top;
	height:  100px;
	width:  100px;
	background-color: pink;
	border:  2px solid black ;
}