/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	/*default font*/

	font-family: "Open-sans", sans-serif;
	box-sizing: border-box;
}
nav {
	padding:  0.8rem;/*16px default*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray ;
}
nav .nav, nav .nav-logo {

	margin:  0.5rem;
	display:  inline;
}
#intro {
	/* Percentage as practice for mobile responsiveness */
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
	/* align the text and inline elements  and children of the element where the text-align was added */
}
.header {
	text-align:  center;
}
#intro h2, #intro p {
	margin-bottom: 1rem;
}
#intro button {
	color:  white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

#succeed-info {
	/*
	shorthand syntax
		property:  y-axis + x-axis;
				:  top x axis + left/right + bottom: ;
				:  top + right + bottom + left: ;
	*/
	padding: 2rem 10% 3rem;
}
#succeed-info h2 {
	margin-bottom: 1rem;
}
#succeed-info .card /*child selector*/
/*
	inline alone cant set width 
	Inline-block elements display the content by setting the width and height
*/
{
	display:  inline-block;
	/*border:  2px solid black;*/
	width:  30%;
	margin-left: .5rem;
	margin-right: .5rem;
	vertical-align: top;
	min-height: 175px;
	/*
		Set the card for 30% for addtl margin left-right
	*/
}
#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}
#pre-footer {
	padding:  1rem;
	background-color:  #002540;
	color: white;

}
#pre-footer .pre-footer2 { 
	/*
		#prefooter > div
		#prefooter > div > * (all child of every div)
	*/
	display:  inline-block;
	width: 20%;
	vertical-align: top;
}

#pre-footer > div > * {
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}

footer {
	padding: 0.7rem;
}
footer span {
	margin-left: 0.5rem ;
	margin-right: 0.5rem;

}
