*  {
	margin:  0;
	padding: 0;
	font-family:  "Hubballi", cursive;
	box-sizing:  border-box;
}
nav {
	padding:  0.8rem;/*16px default*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray ;
}
nav .nav-offer, nav .navfoodcart-logo {

	margin:  0.5rem;
	display:  inline;
}

nav li {
	font-size: 2rem;
}
img {
	height:  100px;
	width:  120px;
}
#top {
	font-size: 2rem;
	text-align: center;
	color:  darkred;
	padding-bottom: 3rem;
}

section #header, section #delivery, section p, section {
	padding:  2rem;
	background-color: #ffdab9;
}
button {
	color: red;
	background-color: yellow;
	border:  3px solid darkred;
	border-radius: 20px;
	padding:  1rem;
	font-size: 1.5rem;
}
button:hover {
	background-color: orange;
}
#products {
	padding:  2rem;
}
#products > div {
	display:  inline-block;
	width:  30%;
	margin-left: .3rem;
	margin-right: .3rem;
	vertical-align: top;
	min-height: 150px;
	background-color: orange;
	border-radius: 15px;
}
#delivery {
	height: 250px;
	width:  250px;
}